<div class="container mt-5">
  <ngb-carousel *ngIf="popularProduct" class="custom-carousel">
    <ng-template ngbSlide *ngFor="let item of popularProduct">
      <div class="picsum-img-wrapper">
        <div class="img-container">
          <a routerLink="/details/{{ item.id }}">
            <img [src]="item.image" alt="Product Image" />
          </a>
        </div>
      </div>
      <div class="carousel-caption">
        <h3 class="custom-carousel-title">{{ item.name }}</h3>
        <p class="custom-carousel-description">{{ item.description }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<hr />
<hr />
<div class="container">
  <div class="row justify-content-center">
    <h3 class="text-center">product</h3>
    <div class="col-sm-3 mb-5" *ngFor="let item of trandyProduct">
      <div class="card product-card" style="width: 15rem">
        <a routerLink="/details/{{ item.id }}">
          <img src="{{ item.image }}" class="card-img-top" alt="..." />
        </a>
        <div class="card-body">
          <h5 class="card-title text-center">
            <strong> Product:</strong> {{ item.name | titlecase }}
          </h5>
          <p class="card-text text-muted text-center">
            <strong> Price:</strong>
            <span class="text-danger"> {{ item.price }}</span>
          </p>
          <p class="card-text text-center">
            Description: {{ item.description.slice(0, 20) | titlecase }}...
          </p>

          <div class="d-flex justify-content-between mt-2">
            <a
              *ngIf="!removeCart"
              class="btn btn-success btn-sm"
              (click)="addToCart()"
              >Add to Cart</a
            >
            <a
              *ngIf="removeCart"
              class="btn btn-success btn-sm"
              (click)="addToCart()"
              >Removeto Cart</a
            >
            <a
              routerLink="/details/{{ item.id }}"
              class="btn btn-secondary btn-sm ml-2"
              >View Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
